@font-face {
    font-family: Libre Franklin b;
    src: url(LibreFranklin/static/LibreFranklin-Bold.ttf);
}
@font-face {
    font-family: Libre Franklin i;
    src: url(LibreFranklin/static/LibreFranklin-Italic.ttf);
}
@font-face {
    font-family: Libre Franklin sbi;
    src: url(LibreFranklin/static/LibreFranklin-SemiBoldItalic.ttf);
}
body{
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: Libre Franklin b;
    height: 2000px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
header .links{
    position: absolute;
    top: 4em;
    right: 1em;
}
header .links a{
    padding: 20px;
}
main{
    width: 70vw;
    margin: auto;
    margin-top: 20em;
}
footer{
    position: absolute;
    bottom: 5em;
    left: 3em;
    color: #959595;
    font-size: 15px;
    text-align: left;
}
main h1{
    font-size: 33px;
}
.rect{
    padding: 10px;
    border: white 2px solid;
    border-radius: 0px;
}
footer .h3{
    font-size: 23px;
    margin: 0;
}
section{
    margin-top: 20em;
}
footer a{
    color: #959595;
}