@font-face {
    font-family: Libre Franklin b;
    src: url(LibreFranklin/static/LibreFranklin-Bold.ttf);
}
@font-face {
    font-family: Libre Franklin i;
    src: url(LibreFranklin/static/LibreFranklin-Italic.ttf);
}
@font-face {
    font-family: Libre Franklin sbi;
    src: url(LibreFranklin/static/LibreFranklin-SemiBoldItalic.ttf);
}
body{
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: Libre Franklin b;
    height: 2000px;
    text-align: center;
}
article{
    height: max-content;
    text-align: center;
}
section{
    margin-top: 15em;
}
a{
    color: white;
    text-decoration: none;
}
header .links{
    position: absolute;
    top: 4em;
    right: 1em;
}
header .links a{
    padding: 20px;
}
main{
    width: 70vw;
    margin: auto;
    margin-top: 20em;
}
footer{
    position: absolute;
    bottom: -100vmax;
    left: 3em;
    color: #959595;
    font-size: 15px;
    text-align: left;
}
main h1{
    font-size: 33px;
}
.rect{
    padding: 10px;
    border: white 2px solid;
    border-radius: 0px;
}
footer .h3{
    font-size: 23px;
    margin: 0;
}
section{
    margin-top: 20em;
}
footer a{
    color: #959595;
}
main .headline{
    font-size: 30px;
    text-align: center;
}
section .rect.button{
    border: 2px white solid;
    padding: 7px;
    width: fit-content;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 20em;
}
.yellow{
    color: #F9C314;
    font-family: Libre Franklin sbi;
}
.italic{
    font-family: Libre Franklin i;
}
#mouse{
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 99;
}
#logo{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 100px;
    margin: 1em;
    margin-left: 4em;
}
section.b p{
    font-size: 30px;
}
section.b{
    position: relative;
}
section.b .icon.o{
    background-image: url(iconO.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    transform: translateY(-75%);
    right: 13vw;

}